<a href="https://colab.research.google.com/github/dmst0ut/importforecasting_group2/blob/main/Get_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Retrieve BEA Data using BEA API
  # GDP (2017 chained dollars)
  # Government Revenue from Customs Duties (2017 chained dollars)
  # Foreign transactions: total imports (2017 chained dollars)

import requests
import pandas as pd
from google.colab import userdata

# Retrieve BEA API key from Google Colab secrets
BEA_API_key = userdata.get('BEA_API_key')

# ====== USER INPUT ======
user_id = BEA_API_key  # Replace with your actual BEA API key
tables = {
    "T10101": {"name": "gdp", "lines": ["1"]},  # Table 1.1.3 - GDP
    "T30200": {"name": "customs_receipts", "lines": ["6"]},  # Table 3.2 - Total Receipts
#    "T40206B": {"name": "Imports", "lines": ["94"]}  # Table 4.2.6B - Foreign Transactions: Imports
}
start_year = 1959
end_year = 2024
frequency = "Q"  # A = Annual, Q = Quarterly, M = Monthly
# ========================

# Convert year range to comma-separated string
years = ",".join(str(year) for year in range(start_year, end_year + 1))

# Base API URL
base_url = "https://apps.bea.gov/api/data"

def fetch_bea_data(table_name, lines):
    """Fetches BEA data for a specific table and returns a formatted DataFrame."""
    params = {
        "UserID": user_id,
        "method": "GetData",
        "DataSetName": "NIPA",
        "TableName": table_name,
        "Frequency": frequency,
        "Year": years,
        "ResultFormat": "JSON"
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        data = response.json()
        try:
            df = pd.DataFrame(data["BEAAPI"]["Results"]["Data"])

            # Convert TimePeriod to datetime
            df["Date"] = pd.PeriodIndex(df["TimePeriod"], freq='Q').to_timestamp()

            # Ensure numerical values
            df['DataValue'] = pd.to_numeric(df['DataValue'].str.replace(',', '', regex=False), errors='coerce')

            # Filter only the required lines
            df = df[df["LineNumber"].isin(lines)]

            # Debugging: Print missing values in time periods
            print(f"\nFetched {table_name}: {df['TimePeriod'].nunique()} unique periods")

            # Pivot the table safely
            df = df.pivot_table(index="Date", columns="LineDescription", values="DataValue", aggfunc="first")

            # Rename columns with table identifiers
            df.columns = [f"{col} ({tables[table_name]['name']})" for col in df.columns]

            return df
        except KeyError:
            print(f"Unexpected JSON structure for Table {table_name}: {data}")
            return None
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Fetch data for selected tables & lines
dataframes = {table: fetch_bea_data(table, info["lines"]) for table, info in tables.items()}
dataframes = {k: v for k, v in dataframes.items() if v is not None}  # Remove None values

# Standardize the date index before merging
# for key, df in dataframes.items():
#    df.index = df.index.to_period("Q")  # Convert to quarterly periods to align

# Merge all DataFrames on TimePeriod
if dataframes:
    # Start merging with the first DataFrame
    merged_df = None
    for key, df in dataframes.items():
        if merged_df is None:
            merged_df = df
        else:
            merged_df = merged_df.merge(df, left_index=True, right_index=True, how="outer")  # Keep all data

    # Debugging: Print rows with NaN values
    missing_values = merged_df.isna().sum(axis=1)
    if missing_values.any():
        print("\nRows with missing values (check for time misalignment):")
        print(merged_df[missing_values > 0])

    # Display the merged DataFrame
    print("\nMerged DataFrame:")
    print(merged_df.head())
    print(merged_df.dtypes)
else:
    print("No data retrieved from BEA API.")

Fetched T10101: 264 unique periods

Fetched T30200: 264 unique periods

Merged DataFrame:
            Gross domestic product (gdp)  Customs duties (customs_receipts)
Date
1959-01-01                           7.9                                952
1959-04-01                           9.3                               1076
1959-07-01                           0.3                               1092
1959-10-01                           1.1                               1076
1960-01-01                           9.3                               1176
Gross domestic product (gdp)         float64
Customs duties (customs_receipts)      int64
dtype: object

In [22]:
import requests
import pandas as pd
from google.colab import userdata

# Retrieve FRED API key from Google Colab secrets
FRED_API_key = userdata.get('FRED_API_key')

# ====== USER INPUT ======
series_ids = {
    "Federal Funds Rate (fedfunds)": "FEDFUNDS",
    "Real Imports (fedfunds)": "IMPGSC1"
}
start_date = "1959-01-01"
end_date = "2024-12-31"
frequency = "q"  # Quarterly
# ========================

# Base API URL for FRED
fred_base_url = "https://api.stlouisfed.org/fred/series/observations"

# Function to fetch a FRED series into a DataFrame
def fetch_fred_series(series_id, series_name):
    params = {
        "series_id": series_id,
        "api_key": FRED_API_key,
        "file_type": "json",
        "observation_start": start_date,
        "observation_end": end_date,
        "frequency": frequency,
        "aggregation_method": "avg"
    }

    response = requests.get(fred_base_url, params=params)

    if response.status_code == 200:
        data = response.json()
        df = pd.DataFrame(data["observations"])
        df["date"] = pd.to_datetime(df["date"])
        df.set_index("date", inplace=True)
        df = df.drop(columns=["realtime_start", "realtime_end"])
        df["value"] = pd.to_numeric(df["value"], errors="coerce")
        df.rename(columns={"value": series_name}, inplace=True)
        return df
    else:
        print(f"Error fetching {series_id}: {response.status_code}")
        return pd.DataFrame()

# Fetch both series
fedfunds_df = fetch_fred_series("FEDFUNDS", "Federal Funds Rate (fedfunds)")
imports_df = fetch_fred_series("IMPGSC1", "Real Imports (imports)")

# Merge with existing BEA dataset
final_merged_df = merged_df.join(fedfunds_df, how="left")
final_merged_df = final_merged_df.join(imports_df, how="left")

# Display result
print(final_merged_df.head())
print(final_merged_df.dtypes)

            Gross domestic product (gdp)  Customs duties (customs_receipts)  \
Date
1959-01-01                           7.9                                952
1959-04-01                           9.3                               1076
1959-07-01                           0.3                               1092
1959-10-01                           1.1                               1076
1960-01-01                           9.3                               1176

            Federal Funds Rate (fedfunds)  Real Imports (imports)
Date
1959-01-01                           2.57                 115.440
1959-04-01                           3.08                 121.057
1959-07-01                           3.58                 122.212
1959-10-01                           3.99                 119.109
1960-01-01                           3.93                 123.608
Gross domestic product (gdp)         float64
Customs duties (customs_receipts)      int64
Federal Funds Rate (fedfunds)        float64
Real Imports (imports)               float64
dtype: object

In [23]:
%cd /content/importforecasting_group2

import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('economic_data.db')
cursor = conn.cursor()

# Read the DDL script from the file
with open('DDL.txt', 'r') as ddl_file:
    ddl_script = ddl_file.read()

# Execute the DDL script
cursor.executescript(ddl_script)

# Commit the changes and close the connection
conn.commit()
conn.close()

/content/importforecasting_group2

In [24]:
import sqlite3
import pandas as pd
import re

# Step 3: Insert data into the 'series' table
# Loop through the columns of the DataFrame and extract 'name' and 'desc' from column names

conn = sqlite3.connect('economic_data.db')
cursor = conn.cursor()

existing_series = set()

for col in final_merged_df.columns:
    # Extract 'desc' (before parentheses) and 'name' (inside parentheses)
    match = re.match(r"(.*)\s\((.*)\)", col)
    if match:
        desc = match.group(1)  # The part before the parentheses
        name = match.group(2)  # The part inside the parentheses

        # Skip if this series already exists
        if (name, desc) not in existing_series:
            cursor.execute('''
                INSERT OR IGNORE INTO series (name, desc)
                VALUES (?, ?);
            ''', (name, desc))
            existing_series.add((name, desc))

# Commit the changes to the 'series' table
conn.commit()

# Step 4: Insert data into the 'economic_indicators' table
# For each column in the DataFrame, fetch the corresponding series id and insert the data

for col in final_merged_df.columns:
    # Extract 'desc' (before parentheses) and 'name' (inside parentheses)
    match = re.match(r"(.*)\s\((.*)\)", col)
    if match:
        desc = match.group(1)  # The part before the parentheses
        name = match.group(2)  # The part inside the parentheses

        # Fetch the series ID from the 'series' table
        cursor.execute('''
            SELECT id FROM series WHERE name = ? AND desc = ?;
        ''', (name, desc))
        series_id = cursor.fetchone()[0]  # Get the series ID

        # Insert each row of the DataFrame into the 'economic_indicators' table
        for idx, row in final_merged_df.iterrows():
            # Insert data into the economic_indicators table
            cursor.execute('''
                INSERT INTO economic_indicators (date, series, value)
                VALUES (?, ?, ?);
            ''', (str(idx), series_id, row[col]))

# Commit the changes to the 'economic_indicators' table
conn.commit()

# Close the connection
conn.close()

In [25]:
# prompt: select * from both tables in economic_data.db and print

import sqlite3

conn = sqlite3.connect('economic_data.db')
cursor = conn.cursor()

# Select all from the first table
cursor.execute("SELECT * FROM series")
series_data = cursor.fetchall()
print("Series Table:")
for row in series_data:
  print(row)

# Select all from the second table
cursor.execute("SELECT * FROM economic_indicators")
economic_indicators_data = cursor.fetchall()
print("\nEconomic Indicators Table:")
for row in economic_indicators_data:
  print(row)

conn.close()

Series Table:
(1, 'gdp', 'Gross domestic product')
(2, 'customs_receipts', 'Customs duties')
(3, 'fedfunds', 'Federal Funds Rate')
(4, 'imports', 'Real Imports')

Economic Indicators Table:
(1, '1959-01-01 00:00:00', 1, 7.9)
(2, '1959-04-01 00:00:00', 1, 9.3)
(3, '1959-07-01 00:00:00', 1, 0.3)
(4, '1959-10-01 00:00:00', 1, 1.1)
(5, '1960-01-01 00:00:00', 1, 9.3)
(6, '1960-04-01 00:00:00', 1, -2.1)
(7, '1960-07-01 00:00:00', 1, 2.0)
(8, '1960-10-01 00:00:00', 1, -5.0)
(9, '1961-01-01 00:00:00', 1, 2.7)
(10, '1961-04-01 00:00:00', 1, 7.0)
(11, '1961-07-01 00:00:00', 1, 7.9)
(12, '1961-10-01 00:00:00', 1, 8.1)
(13, '1962-01-01 00:00:00', 1, 7.3)
(14, '1962-04-01 00:00:00', 1, 3.7)
(15, '1962-07-01 00:00:00', 1, 5.0)
(16, '1962-10-01 00:00:00', 1, 1.3)
(17, '1963-01-01 00:00:00', 1, 4.4)
(18, '1963-04-01 00:00:00', 1, 4.6)
(19, '1963-07-01 00:00:00', 1, 9.1)
(20, '1963-10-01 00:00:00', 1, 2.6)
(21, '1964-01-01 00:00:00', 1, 8.7)
(22, '1964-04-01 00:00:00', 1, 4.4)
(23, '1964-07-01 00:00:00', 1, 6.4)
(24, '1964-10-01 00:00:00', 1, 1.2)
(25, '1965-01-01 00:00:00', 1, 10.0)
(26, '1965-04-01 00:00:00', 1, 5.2)
(27, '1965-07-01 00:00:00', 1, 9.2)
(28, '1965-10-01 00:00:00', 1, 9.5)
(29, '1966-01-01 00:00:00', 1, 10.1)
(30, '1966-04-01 00:00:00', 1, 1.4)
(31, '1966-07-01 00:00:00', 1, 3.4)
(32, '1966-10-01 00:00:00', 1, 3.3)
(33, '1967-01-01 00:00:00', 1, 3.6)
(34, '1967-04-01 00:00:00', 1, 0.2)
(35, '1967-07-01 00:00:00', 1, 3.8)
(36, '1967-10-01 00:00:00', 1, 3.1)
(37, '1968-01-01 00:00:00', 1, 8.4)
(38, '1968-04-01 00:00:00', 1, 6.9)
(39, '1968-07-01 00:00:00', 1, 3.1)
(40, '1968-10-01 00:00:00', 1, 1.6)
(41, '1969-01-01 00:00:00', 1, 6.4)
(42, '1969-04-01 00:00:00', 1, 1.2)
(43, '1969-07-01 00:00:00', 1, 2.7)
(44, '1969-10-01 00:00:00', 1, -1.9)
(45, '1970-01-01 00:00:00', 1, -0.6)
(46, '1970-04-01 00:00:00', 1, 0.6)
(47, '1970-07-01 00:00:00', 1, 3.7)
(48, '1970-10-01 00:00:00', 1, -4.2)
(49, '1971-01-01 00:00:00', 1, 11.3)
(50, '1971-04-01 00:00:00', 1, 2.2)
(51, '1971-07-01 00:00:00', 1, 3.3)
(52, '1971-10-01 00:00:00', 1, 0.9)
(53, '1972-01-01 00:00:00', 1, 7.6)
(54, '1972-04-01 00:00:00', 1, 9.4)
(55, '1972-07-01 00:00:00', 1, 3.8)
(56, '1972-10-01 00:00:00', 1, 6.9)
(57, '1973-01-01 00:00:00', 1, 10.3)
(58, '1973-04-01 00:00:00', 1, 4.4)
(59, '1973-07-01 00:00:00', 1, -2.1)
(60, '1973-10-01 00:00:00', 1, 3.9)
(61, '1974-01-01 00:00:00', 1, -3.4)
(62, '1974-04-01 00:00:00', 1, 1.0)
(63, '1974-07-01 00:00:00', 1, -3.7)
(64, '1974-10-01 00:00:00', 1, -1.5)
(65, '1975-01-01 00:00:00', 1, -4.8)
(66, '1975-04-01 00:00:00', 1, 2.9)
(67, '1975-07-01 00:00:00', 1, 7.0)
(68, '1975-10-01 00:00:00', 1, 5.5)
(69, '1976-01-01 00:00:00', 1, 9.3)
(70, '1976-04-01 00:00:00', 1, 3.0)
(71, '1976-07-01 00:00:00', 1, 2.2)
(72, '1976-10-01 00:00:00', 1, 2.9)
(73, '1977-01-01 00:00:00', 1, 4.8)
(74, '1977-04-01 00:00:00', 1, 8.0)
(75, '1977-07-01 00:00:00', 1, 7.4)
(76, '1977-10-01 00:00:00', 1, 0.0)
(77, '1978-01-01 00:00:00', 1, 1.3)
(78, '1978-04-01 00:00:00', 1, 16.4)
(79, '1978-07-01 00:00:00', 1, 4.1)
(80, '1978-10-01 00:00:00', 1, 5.5)
(81, '1979-01-01 00:00:00', 1, 0.7)
(82, '1979-04-01 00:00:00', 1, 0.4)
(83, '1979-07-01 00:00:00', 1, 3.0)
(84, '1979-10-01 00:00:00', 1, 1.0)
(85, '1980-01-01 00:00:00', 1, 1.3)
(86, '1980-04-01 00:00:00', 1, -8.0)
(87, '1980-07-01 00:00:00', 1, -0.5)
(88, '1980-10-01 00:00:00', 1, 7.7)
(89, '1981-01-01 00:00:00', 1, 8.1)
(90, '1981-04-01 00:00:00', 1, -2.9)
(91, '1981-07-01 00:00:00', 1, 4.9)
(92, '1981-10-01 00:00:00', 1, -4.3)
(93, '1982-01-01 00:00:00', 1, -6.1)
(94, '1982-04-01 00:00:00', 1, 1.8)
(95, '1982-07-01 00:00:00', 1, -1.5)
(96, '1982-10-01 00:00:00', 1, 0.2)
(97, '1983-01-01 00:00:00', 1, 5.4)
(98, '1983-04-01 00:00:00', 1, 9.4)
(99, '1983-07-01 00:00:00', 1, 8.2)
(100, '1983-10-01 00:00:00', 1, 8.6)
(101, '1984-01-01 00:00:00', 1, 8.1)
(102, '1984-04-01 00:00:00', 1, 7.1)
(103, '1984-07-01 00:00:00', 1, 3.9)
(104, '1984-10-01 00:00:00', 1, 3.3)
(105, '1985-01-01 00:00:00', 1, 3.9)
(106, '1985-04-01 00:00:00', 1, 3.6)
(107, '1985-07-01 00:00:00', 1, 6.3)
(108, '1985-10-01 00:00:00', 1, 3.0)
(109, '1986-01-01 00:00:00', 1, 3.8)
(110, '1986-04-01 00:00:00', 1, 1.8)
(111, '1986-07-01 00:00:00', 1, 3.9)
(112, '1986-10-01 00:00:00', 1, 2.2)
(113, '1987-01-01 00:00:00', 1, 3.0)
(114, '1987-04-01 00:00:00', 1, 4.4)
(115, '1987-07-01 00:00:00', 1, 3.5)
(116, '1987-10-01 00:00:00', 1, 7.0)
(117, '1988-01-01 00:00:00', 1, 2.1)
(118, '1988-04-01 00:00:00', 1, 5.4)
(119, '1988-07-01 00:00:00', 1, 2.4)
(120, '1988-10-01 00:00:00', 1, 5.4)
(121, '1989-01-01 00:00:00', 1, 4.1)
(122, '1989-04-01 00:00:00', 1, 3.1)
(123, '1989-07-01 00:00:00', 1, 3.0)
(124, '1989-10-01 00:00:00', 1, 0.8)
(125, '1990-01-01 00:00:00', 1, 4.4)
(126, '1990-04-01 00:00:00', 1, 1.5)
(127, '1990-07-01 00:00:00', 1, 0.3)
(128, '1990-10-01 00:00:00', 1, -3.6)
(129, '1991-01-01 00:00:00', 1, -1.9)
(130, '1991-04-01 00:00:00', 1, 3.2)
(131, '1991-07-01 00:00:00', 1, 2.0)
(132, '1991-10-01 00:00:00', 1, 1.4)
(133, '1992-01-01 00:00:00', 1, 4.9)
(134, '1992-04-01 00:00:00', 1, 4.4)
(135, '1992-07-01 00:00:00', 1, 4.0)
(136, '1992-10-01 00:00:00', 1, 4.2)
(137, '1993-01-01 00:00:00', 1, 0.7)
(138, '1993-04-01 00:00:00', 1, 2.3)
(139, '1993-07-01 00:00:00', 1, 1.9)
(140, '1993-10-01 00:00:00', 1, 5.6)
(141, '1994-01-01 00:00:00', 1, 3.9)
(142, '1994-04-01 00:00:00', 1, 5.5)
(143, '1994-07-01 00:00:00', 1, 2.4)
(144, '1994-10-01 00:00:00', 1, 4.7)
(145, '1995-01-01 00:00:00', 1, 1.4)
(146, '1995-04-01 00:00:00', 1, 1.2)
(147, '1995-07-01 00:00:00', 1, 3.5)
(148, '1995-10-01 00:00:00', 1, 2.7)
(149, '1996-01-01 00:00:00', 1, 3.0)
(150, '1996-04-01 00:00:00', 1, 6.8)
(151, '1996-07-01 00:00:00', 1, 3.6)
(152, '1996-10-01 00:00:00', 1, 4.2)
(153, '1997-01-01 00:00:00', 1, 2.6)
(154, '1997-04-01 00:00:00', 1, 6.8)
(155, '1997-07-01 00:00:00', 1, 5.1)
(156, '1997-10-01 00:00:00', 1, 3.5)
(157, '1998-01-01 00:00:00', 1, 4.1)
(158, '1998-04-01 00:00:00', 1, 3.8)
(159, '1998-07-01 00:00:00', 1, 5.1)
(160, '1998-10-01 00:00:00', 1, 6.6)
(161, '1999-01-01 00:00:00', 1, 3.8)
(162, '1999-04-01 00:00:00', 1, 3.4)
(163, '1999-07-01 00:00:00', 1, 5.4)
(164, '1999-10-01 00:00:00', 1, 6.7)
(165, '2000-01-01 00:00:00', 1, 1.5)
(166, '2000-04-01 00:00:00', 1, 7.5)
(167, '2000-07-01 00:00:00', 1, 0.4)
(168, '2000-10-01 00:00:00', 1, 2.4)
(169, '2001-01-01 00:00:00', 1, -1.3)
(170, '2001-04-01 00:00:00', 1, 2.5)
(171, '2001-07-01 00:00:00', 1, -1.6)
(172, '2001-10-01 00:00:00', 1, 1.1)
(173, '2002-01-01 00:00:00', 1, 3.4)
(174, '2002-04-01 00:00:00', 1, 2.5)
(175, '2002-07-01 00:00:00', 1, 1.6)
(176, '2002-10-01 00:00:00', 1, 0.5)
(177, '2003-01-01 00:00:00', 1, 2.1)
(178, '2003-04-01 00:00:00', 1, 3.6)
(179, '2003-07-01 00:00:00', 1, 6.8)
(180, '2003-10-01 00:00:00', 1, 4.7)
(181, '2004-01-01 00:00:00', 1, 2.3)
(182, '2004-04-01 00:00:00', 1, 3.1)
(183, '2004-07-01 00:00:00', 1, 3.8)
(184, '2004-10-01 00:00:00', 1, 4.1)
(185, '2005-01-01 00:00:00', 1, 4.5)
(186, '2005-04-01 00:00:00', 1, 2.0)
(187, '2005-07-01 00:00:00', 1, 3.2)
(188, '2005-10-01 00:00:00', 1, 2.2)
(189, '2006-01-01 00:00:00', 1, 5.5)
(190, '2006-04-01 00:00:00', 1, 1.0)
(191, '2006-07-01 00:00:00', 1, 0.6)
(192, '2006-10-01 00:00:00', 1, 3.5)
(193, '2007-01-01 00:00:00', 1, 1.2)
(194, '2007-04-01 00:00:00', 1, 2.5)
(195, '2007-07-01 00:00:00', 1, 2.3)
(196, '2007-10-01 00:00:00', 1, 2.5)
(197, '2008-01-01 00:00:00', 1, -1.7)
(198, '2008-04-01 00:00:00', 1, 2.4)
(199, '2008-07-01 00:00:00', 1, -2.1)
(200, '2008-10-01 00:00:00', 1, -8.5)
(201, '2009-01-01 00:00:00', 1, -4.5)
(202, '2009-04-01 00:00:00', 1, -0.7)
(203, '2009-07-01 00:00:00', 1, 1.4)
(204, '2009-10-01 00:00:00', 1, 4.4)
(205, '2010-01-01 00:00:00', 1, 1.9)
(206, '2010-04-01 00:00:00', 1, 3.9)
(207, '2010-07-01 00:00:00', 1, 3.1)
(208, '2010-10-01 00:00:00', 1, 2.1)
(209, '2011-01-01 00:00:00', 1, -0.9)
(210, '2011-04-01 00:00:00', 1, 2.7)
(211, '2011-07-01 00:00:00', 1, -0.1)
(212, '2011-10-01 00:00:00', 1, 4.6)
(213, '2012-01-01 00:00:00', 1, 3.4)
(214, '2012-04-01 00:00:00', 1, 1.8)
(215, '2012-07-01 00:00:00', 1, 0.6)
(216, '2012-10-01 00:00:00', 1, 0.5)
(217, '2013-01-01 00:00:00', 1, 4.0)
(218, '2013-04-01 00:00:00', 1, 1.1)
(219, '2013-07-01 00:00:00', 1, 3.5)
(220, '2013-10-01 00:00:00', 1, 3.5)
(221, '2014-01-01 00:00:00', 1, -1.4)
(222, '2014-04-01 00:00:00', 1, 5.3)
(223, '2014-07-01 00:00:00', 1, 5.0)
(224, '2014-10-01 00:00:00', 1, 2.0)
(225, '2015-01-01 00:00:00', 1, 3.6)
(226, '2015-04-01 00:00:00', 1, 2.5)
(227, '2015-07-01 00:00:00', 1, 1.6)
(228, '2015-10-01 00:00:00', 1, 0.7)
(229, '2016-01-01 00:00:00', 1, 2.3)
(230, '2016-04-01 00:00:00', 1, 1.3)
(231, '2016-07-01 00:00:00', 1, 2.9)
(232, '2016-10-01 00:00:00', 1, 2.2)
(233, '2017-01-01 00:00:00', 1, 2.0)
(234, '2017-04-01 00:00:00', 1, 2.3)
(235, '2017-07-01 00:00:00', 1, 3.2)
(236, '2017-10-01 00:00:00', 1, 4.6)
(237, '2018-01-01 00:00:00', 1, 3.3)
(238, '2018-04-01 00:00:00', 1, 2.1)
(239, '2018-07-01 00:00:00', 1, 2.5)
(240, '2018-10-01 00:00:00', 1, 0.6)
(241, '2019-01-01 00:00:00', 1, 2.5)
(242, '2019-04-01 00:00:00', 1, 3.4)
(243, '2019-07-01 00:00:00', 1, 4.8)
(244, '2019-10-01 00:00:00', 1, 2.8)
(245, '2020-01-01 00:00:00', 1, -5.5)
(246, '2020-04-01 00:00:00', 1, -28.1)
(247, '2020-07-01 00:00:00', 1, 35.2)
(248, '2020-10-01 00:00:00', 1, 4.4)
(249, '2021-01-01 00:00:00', 1, 5.6)
(250, '2021-04-01 00:00:00', 1, 6.4)
(251, '2021-07-01 00:00:00', 1, 3.5)
(252, '2021-10-01 00:00:00', 1, 7.4)
(253, '2022-01-01 00:00:00', 1, -1.0)
(254, '2022-04-01 00:00:00', 1, 0.3)
(255, '2022-07-01 00:00:00', 1, 2.7)
(256, '2022-10-01 00:00:00', 1, 3.4)
(257, '2023-01-01 00:00:00', 1, 2.8)
(258, '2023-04-01 00:00:00', 1, 2.4)
(259, '2023-07-01 00:00:00', 1, 4.4)
(260, '2023-10-01 00:00:00', 1, 3.2)
(261, '2024-01-01 00:00:00', 1, 1.6)
(262, '2024-04-01 00:00:00', 1, 3.0)
(263, '2024-07-01 00:00:00', 1, 3.1)
(264, '2024-10-01 00:00:00', 1, 2.4)
(265, '1959-01-01 00:00:00', 2, 952.0)
(266, '1959-04-01 00:00:00', 2, 1076.0)
(267, '1959-07-01 00:00:00', 2, 1092.0)
(268, '1959-10-01 00:00:00', 2, 1076.0)
(269, '1960-01-01 00:00:00', 2, 1176.0)
(270, '1960-04-01 00:00:00', 2, 1084.0)
(271, '1960-07-01 00:00:00', 2, 1016.0)
(272, '1960-10-01 00:00:00', 2, 988.0)
(273, '1961-01-01 00:00:00', 2, 976.0)
(274, '1961-04-01 00:00:00', 2, 956.0)
(275, '1961-07-01 00:00:00', 2, 1068.0)
(276, '1961-10-01 00:00:00', 2, 1120.0)
(277, '1962-01-01 00:00:00', 2, 1192.0)
(278, '1962-04-01 00:00:00', 2, 1212.0)
(279, '1962-07-01 00:00:00', 2, 1184.0)
(280, '1962-10-01 00:00:00', 2, 1220.0)
(281, '1963-01-01 00:00:00', 2, 1200.0)
(282, '1963-04-01 00:00:00', 2, 1228.0)
(283, '1963-07-01 00:00:00', 2, 1236.0)
(284, '1963-10-01 00:00:00', 2, 1244.0)
(285, '1964-01-01 00:00:00', 2, 1236.0)
(286, '1964-04-01 00:00:00', 2, 1288.0)
(287, '1964-07-01 00:00:00', 2, 1340.0)
(288, '1964-10-01 00:00:00', 2, 1408.0)
(289, '1965-01-01 00:00:00', 2, 1424.0)
(290, '1965-04-01 00:00:00', 2, 1624.0)
(291, '1965-07-01 00:00:00', 2, 1676.0)
(292, '1965-10-01 00:00:00', 2, 1728.0)
(293, '1966-01-01 00:00:00', 2, 1796.0)
(294, '1966-04-01 00:00:00', 2, 1888.0)
(295, '1966-07-01 00:00:00', 2, 1892.0)
(296, '1966-10-01 00:00:00', 2, 1900.0)
(297, '1967-01-01 00:00:00', 2, 1924.0)
(298, '1967-04-01 00:00:00', 2, 1892.0)
(299, '1967-07-01 00:00:00', 2, 1820.0)
(300, '1967-10-01 00:00:00', 2, 2000.0)
(301, '1968-01-01 00:00:00', 2, 2132.0)
(302, '1968-04-01 00:00:00', 2, 2220.0)
(303, '1968-07-01 00:00:00', 2, 2364.0)
(304, '1968-10-01 00:00:00', 2, 2316.0)
(305, '1969-01-01 00:00:00', 2, 1992.0)
(306, '1969-04-01 00:00:00', 2, 2600.0)
(307, '1969-07-01 00:00:00', 2, 2484.0)
(308, '1969-10-01 00:00:00', 2, 2404.0)
(309, '1970-01-01 00:00:00', 2, 2420.0)
(310, '1970-04-01 00:00:00', 2, 2424.0)
(311, '1970-07-01 00:00:00', 2, 2512.0)
(312, '1970-10-01 00:00:00', 2, 2580.0)
(313, '1971-01-01 00:00:00', 2, 2556.0)
(314, '1971-04-01 00:00:00', 2, 2708.0)
(315, '1971-07-01 00:00:00', 2, 3216.0)
(316, '1971-10-01 00:00:00', 2, 3968.0)
(317, '1972-01-01 00:00:00', 2, 3148.0)
(318, '1972-04-01 00:00:00', 2, 2800.0)
(319, '1972-07-01 00:00:00', 2, 2904.0)
(320, '1972-10-01 00:00:00', 2, 3136.0)
(321, '1973-01-01 00:00:00', 2, 3420.0)
(322, '1973-04-01 00:00:00', 2, 3296.0)
(323, '1973-07-01 00:00:00', 2, 3156.0)
(324, '1973-10-01 00:00:00', 2, 3212.0)
(325, '1974-01-01 00:00:00', 2, 3396.0)
(326, '1974-04-01 00:00:00', 2, 3564.0)
(327, '1974-07-01 00:00:00', 2, 3820.0)
(328, '1974-10-01 00:00:00', 2, 3852.0)
(329, '1975-01-01 00:00:00', 2, 4136.0)
(330, '1975-04-01 00:00:00', 2, 5172.0)
(331, '1975-07-01 00:00:00', 2, 6864.0)
(332, '1975-10-01 00:00:00', 2, 7284.0)
(333, '1976-01-01 00:00:00', 2, 4300.0)
(334, '1976-04-01 00:00:00', 2, 4564.0)
(335, '1976-07-01 00:00:00', 2, 4748.0)
(336, '1976-10-01 00:00:00', 2, 4628.0)
(337, '1977-01-01 00:00:00', 2, 5028.0)
(338, '1977-04-01 00:00:00', 2, 5312.0)
(339, '1977-07-01 00:00:00', 2, 5768.0)
(340, '1977-10-01 00:00:00', 2, 5504.0)
(341, '1978-01-01 00:00:00', 2, 6444.0)
(342, '1978-04-01 00:00:00', 2, 7100.0)
(343, '1978-07-01 00:00:00', 2, 7308.0)
(344, '1978-10-01 00:00:00', 2, 7548.0)
(345, '1979-01-01 00:00:00', 2, 7588.0)
(346, '1979-04-01 00:00:00', 2, 7584.0)
(347, '1979-07-01 00:00:00', 2, 7280.0)
(348, '1979-10-01 00:00:00', 2, 7364.0)
(349, '1980-01-01 00:00:00', 2, 7204.0)
(350, '1980-04-01 00:00:00', 2, 6912.0)
(351, '1980-07-01 00:00:00', 2, 7212.0)
(352, '1980-10-01 00:00:00', 2, 7312.0)
(353, '1981-01-01 00:00:00', 2, 7852.0)
(354, '1981-04-01 00:00:00', 2, 8344.0)
(355, '1981-07-01 00:00:00', 2, 8840.0)
(356, '1981-10-01 00:00:00', 2, 9320.0)
(357, '1982-01-01 00:00:00', 2, 9084.0)
(358, '1982-04-01 00:00:00', 2, 8700.0)
(359, '1982-07-01 00:00:00', 2, 8308.0)
(360, '1982-10-01 00:00:00', 2, 8344.0)
(361, '1983-01-01 00:00:00', 2, 7616.0)
(362, '1983-04-01 00:00:00', 2, 8992.0)
(363, '1983-07-01 00:00:00', 2, 9624.0)
(364, '1983-10-01 00:00:00', 2, 10132.0)
(365, '1984-01-01 00:00:00', 2, 10944.0)
(366, '1984-04-01 00:00:00', 2, 12124.0)
(367, '1984-07-01 00:00:00', 2, 12252.0)
(368, '1984-10-01 00:00:00', 2, 12292.0)
(369, '1985-01-01 00:00:00', 2, 12264.0)
(370, '1985-04-01 00:00:00', 2, 11696.0)
(371, '1985-07-01 00:00:00', 2, 12020.0)
(372, '1985-10-01 00:00:00', 2, 12652.0)
(373, '1986-01-01 00:00:00', 2, 12840.0)
(374, '1986-04-01 00:00:00', 2, 13432.0)
(375, '1986-07-01 00:00:00', 2, 14348.0)
(376, '1986-10-01 00:00:00', 2, 14168.0)
(377, '1987-01-01 00:00:00', 2, 14900.0)
(378, '1987-04-01 00:00:00', 2, 15872.0)
(379, '1987-07-01 00:00:00', 2, 15448.0)
(380, '1987-10-01 00:00:00', 2, 15912.0)
(381, '1988-01-01 00:00:00', 2, 16316.0)
(382, '1988-04-01 00:00:00', 2, 16144.0)
(383, '1988-07-01 00:00:00', 2, 16460.0)
(384, '1988-10-01 00:00:00', 2, 16728.0)
(385, '1989-01-01 00:00:00', 2, 17044.0)
(386, '1989-04-01 00:00:00', 2, 17520.0)
(387, '1989-07-01 00:00:00', 2, 17748.0)
(388, '1989-10-01 00:00:00', 2, 17612.0)
(389, '1990-01-01 00:00:00', 2, 17668.0)
(390, '1990-04-01 00:00:00', 2, 17812.0)
(391, '1990-07-01 00:00:00', 2, 17476.0)
(392, '1990-10-01 00:00:00', 2, 17004.0)
(393, '1991-01-01 00:00:00', 2, 16548.0)
(394, '1991-04-01 00:00:00', 2, 16160.0)
(395, '1991-07-01 00:00:00', 2, 16736.0)
(396, '1991-10-01 00:00:00', 2, 17900.0)
(397, '1992-01-01 00:00:00', 2, 17700.0)
(398, '1992-04-01 00:00:00', 2, 17988.0)
(399, '1992-07-01 00:00:00', 2, 18680.0)
(400, '1992-10-01 00:00:00', 2, 18940.0)
(401, '1993-01-01 00:00:00', 2, 18680.0)
(402, '1993-04-01 00:00:00', 2, 20200.0)
(403, '1993-07-01 00:00:00', 2, 20444.0)
(404, '1993-10-01 00:00:00', 2, 19916.0)
(405, '1994-01-01 00:00:00', 2, 20584.0)
(406, '1994-04-01 00:00:00', 2, 21264.0)
(407, '1994-07-01 00:00:00', 2, 22016.0)
(408, '1994-10-01 00:00:00', 2, 21904.0)
(409, '1995-01-01 00:00:00', 2, 19992.0)
(410, '1995-04-01 00:00:00', 2, 19976.0)
(411, '1995-07-01 00:00:00', 2, 19628.0)
(412, '1995-10-01 00:00:00', 2, 19680.0)
(413, '1996-01-01 00:00:00', 2, 20148.0)
(414, '1996-04-01 00:00:00', 2, 19364.0)
(415, '1996-07-01 00:00:00', 2, 19700.0)
(416, '1996-10-01 00:00:00', 2, 17672.0)
(417, '1997-01-01 00:00:00', 2, 18976.0)
(418, '1997-04-01 00:00:00', 2, 20424.0)
(419, '1997-07-01 00:00:00', 2, 19808.0)
(420, '1997-10-01 00:00:00', 2, 19260.0)
(421, '1998-01-01 00:00:00', 2, 19400.0)
(422, '1998-04-01 00:00:00', 2, 19556.0)
(423, '1998-07-01 00:00:00', 2, 19840.0)
(424, '1998-10-01 00:00:00', 2, 19548.0)
(425, '1999-01-01 00:00:00', 2, 18216.0)
(426, '1999-04-01 00:00:00', 2, 17856.0)
(427, '1999-07-01 00:00:00', 2, 19708.0)
(428, '1999-10-01 00:00:00', 2, 20948.0)
(429, '2000-01-01 00:00:00', 2, 19952.0)
(430, '2000-04-01 00:00:00', 2, 21960.0)
(431, '2000-07-01 00:00:00', 2, 21576.0)
(432, '2000-10-01 00:00:00', 2, 21004.0)
(433, '2001-01-01 00:00:00', 2, 21864.0)
(434, '2001-04-01 00:00:00', 2, 20584.0)
(435, '2001-07-01 00:00:00', 2, 19900.0)
(436, '2001-10-01 00:00:00', 2, 20196.0)
(437, '2002-01-01 00:00:00', 2, 18857.0)
(438, '2002-04-01 00:00:00', 2, 19813.0)
(439, '2002-07-01 00:00:00', 2, 20564.0)
(440, '2002-10-01 00:00:00', 2, 20517.0)
(441, '2003-01-01 00:00:00', 2, 21661.0)
(442, '2003-04-01 00:00:00', 2, 21307.0)
(443, '2003-07-01 00:00:00', 2, 21461.0)
(444, '2003-10-01 00:00:00', 2, 21404.0)
(445, '2004-01-01 00:00:00', 2, 22432.0)
(446, '2004-04-01 00:00:00', 2, 23001.0)
(447, '2004-07-01 00:00:00', 2, 23511.0)
(448, '2004-10-01 00:00:00', 2, 24188.0)
(449, '2005-01-01 00:00:00', 2, 25045.0)
(450, '2005-04-01 00:00:00', 2, 25355.0)
(451, '2005-07-01 00:00:00', 2, 25544.0)
(452, '2005-10-01 00:00:00', 2, 25397.0)
(453, '2006-01-01 00:00:00', 2, 25928.0)
(454, '2006-04-01 00:00:00', 2, 27157.0)
(455, '2006-07-01 00:00:00', 2, 27811.0)
(456, '2006-10-01 00:00:00', 2, 25852.0)
(457, '2007-01-01 00:00:00', 2, 28430.0)
(458, '2007-04-01 00:00:00', 2, 28229.0)
(459, '2007-07-01 00:00:00', 2, 28982.0)
(460, '2007-10-01 00:00:00', 2, 29531.0)
(461, '2008-01-01 00:00:00', 2, 29494.0)
(462, '2008-04-01 00:00:00', 2, 29770.0)
(463, '2008-07-01 00:00:00', 2, 29272.0)
(464, '2008-10-01 00:00:00', 2, 28436.0)
(465, '2009-01-01 00:00:00', 2, 24353.0)
(466, '2009-04-01 00:00:00', 2, 22336.0)
(467, '2009-07-01 00:00:00', 2, 21326.0)
(468, '2009-10-01 00:00:00', 2, 24309.0)
(469, '2010-01-01 00:00:00', 2, 26217.0)
(470, '2010-04-01 00:00:00', 2, 27856.0)
(471, '2010-07-01 00:00:00', 2, 30031.0)
(472, '2010-10-01 00:00:00', 2, 30308.0)
(473, '2011-01-01 00:00:00', 2, 30695.0)
(474, '2011-04-01 00:00:00', 2, 32177.0)
(475, '2011-07-01 00:00:00', 2, 32883.0)
(476, '2011-10-01 00:00:00', 2, 31809.0)
(477, '2012-01-01 00:00:00', 2, 32019.0)
(478, '2012-04-01 00:00:00', 2, 33980.0)
(479, '2012-07-01 00:00:00', 2, 34134.0)
(480, '2012-10-01 00:00:00', 2, 33880.0)
(481, '2013-01-01 00:00:00', 2, 35081.0)
(482, '2013-04-01 00:00:00', 2, 34533.0)
(483, '2013-07-01 00:00:00', 2, 35187.0)
(484, '2013-10-01 00:00:00', 2, 37071.0)
(485, '2014-01-01 00:00:00', 2, 36728.0)
(486, '2014-04-01 00:00:00', 2, 36657.0)
(487, '2014-07-01 00:00:00', 2, 37344.0)
(488, '2014-10-01 00:00:00', 2, 38723.0)
(489, '2015-01-01 00:00:00', 2, 37615.0)
(490, '2015-04-01 00:00:00', 2, 41396.0)
(491, '2015-07-01 00:00:00', 2, 35231.0)
(492, '2015-10-01 00:00:00', 2, 38251.0)
(493, '2016-01-01 00:00:00', 2, 38859.0)
(494, '2016-04-01 00:00:00', 2, 37422.0)
(495, '2016-07-01 00:00:00', 2, 37232.0)
(496, '2016-10-01 00:00:00', 2, 36623.0)
(497, '2017-01-01 00:00:00', 2, 37392.0)
(498, '2017-04-01 00:00:00', 2, 38997.0)
(499, '2017-07-01 00:00:00', 2, 38156.0)
(500, '2017-10-01 00:00:00', 2, 39506.0)
(501, '2018-01-01 00:00:00', 2, 41337.0)
(502, '2018-04-01 00:00:00', 2, 46657.0)
(503, '2018-07-01 00:00:00', 2, 53244.0)
(504, '2018-10-01 00:00:00', 2, 71898.0)
(505, '2019-01-01 00:00:00', 2, 75735.0)
(506, '2019-04-01 00:00:00', 2, 70030.0)
(507, '2019-07-01 00:00:00', 2, 79886.0)
(508, '2019-10-01 00:00:00', 2, 85356.0)
(509, '2020-01-01 00:00:00', 2, 80120.0)
(510, '2020-04-01 00:00:00', 2, 54614.0)
(511, '2020-07-01 00:00:00', 2, 66116.0)
(512, '2020-10-01 00:00:00', 2, 73656.0)
(513, '2021-01-01 00:00:00', 2, 81468.0)

In [27]:
import sqlite3
import pandas as pd

# Step 1: Create a connection to the SQLite database
conn = sqlite3.connect('economic_data.db')
cursor = conn.cursor()

# Step 2: Fetch the series names and descriptions
cursor.execute('SELECT id, name, desc FROM series')
series_data = cursor.fetchall()

# Create a mapping of series id to (name, desc)
series_map = {row[0]: (row[1], row[2]) for row in series_data}

# Step 3: Fetch the economic indicators (date, series, value)
cursor.execute('''
    SELECT ei.date, ei.series, ei.value
    FROM economic_indicators ei
    JOIN series s ON ei.series = s.id
    ORDER BY ei.date, ei.series;
''')

economic_indicators = cursor.fetchall()

# Step 4: Convert the fetched data into a pandas DataFrame
data = []

for date, series_id, value in economic_indicators:
    name, desc = series_map[series_id]
    data.append({'date': date, 'series': name, 'value': value})

# Step 5: Create a DataFrame and pivot it
econ_indicators_long = pd.DataFrame(data)

# Pivot the DataFrame so that the series names are columns
econ_indicators = econ_indicators_long.pivot(index='date', columns='series', values='value')

# Step 6: Convert the index to datetime if needed
econ_indicators.index = pd.to_datetime(econ_indicators.index)

# Step 7: Close the connection
conn.close()

# Step 8: Display the reconstructed DataFrame
econ_indicators.head()

series      customs_receipts  fedfunds  gdp  imports
date
1959-01-01             952.0      2.57  7.9  115.440
1959-04-01            1076.0      3.08  9.3  121.057
1959-07-01            1092.0      3.58  0.3  122.212
1959-10-01            1076.0      3.99  1.1  119.109
1960-01-01            1176.0      3.93  9.3  123.608

In [ ]:
# Generate a new column: weighted average tariff = customs duties / imports of goods and services

try:
  final_merged_df['Weighted Average Tariff Rate'] = final_merged_df['Customs duties (Government Receipts & Outlays)'] / final_merged_df['Real Imports (FRED)']
except KeyError:
  print("Error: One or more columns are not found in the dataframe. Please verify your column names.")

print(final_merged_df.head())

            Gross domestic product (GDP & Economic Indicators)  \
Date
1959-01-01                                                7.9
1959-04-01                                                9.3
1959-07-01                                                0.3
1959-10-01                                                1.1
1960-01-01                                                9.3

            Customs duties (Government Receipts & Outlays)  \
Date
1959-01-01                                             952
1959-04-01                                            1076
1959-07-01                                            1092
1959-10-01                                            1076
1960-01-01                                            1176

            Federal Funds Rate (FRED)  Real Imports (FRED)  \
Date
1959-01-01                       2.57              115.440
1959-04-01                       3.08              121.057
1959-07-01                       3.58              122.212
1959-10-01                       3.99              119.109
1960-01-01                       3.93              123.608

            Weighted Average Tariff Rate
Date
1959-01-01                      8.246708
1959-04-01                      8.888375
1959-07-01                      8.935293
1959-10-01                      9.033742
1960-01-01                      9.513947

In [ ]:
%cd

/root

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Store df as a Pickle
import pickle

with open('/content/drive/MyDrive/DSAPEC/importforecasting_group2/econ_data.pkl', 'wb') as f:
       pickle.dump(final_merged_df, f)